.mainContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px;
    border: solid 2px #CCCC;
}

.cocktailDataContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px 15px 6px 0px;
}

.boton button {
    padding: 8px 16px;
    background: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.boton button:hover {
    background: #764ba2;
}

